body {
background-color:#334;
font-family:'Roboto', sans-serif;
}
.logo {
    background-color:#4f5b93;
}
    
.form-inline {
display:inline-block;
top:50%;
transform:translateY(12px);
margin-right:20px;
color:#fff;
}

.pesquisar {
float:right;
}

.logo img {
width:60px;
margin:10px;
}

.menu ul {
text-align:center;
background-color:#FFF;
list-style:none;
border-bottom:1px solid #ccc;
margin:0;
padding:12px;
}

.menu ul li {
display:inline;
}

.menu ul li a {
display:inline-block;
color:#333;
text-decoration:none;
border:1px solid #4f5b93;
border-radius:10px;
margin:0 3px;
padding:5px 25px;
}

.menu ul li a:hover {
font-weight:900;
color:#fff;
background-color:#546581;
}

.container-fluid {
color:#fff;
}

.container-fluid form {
background-color:#445;
border-radius:7px;
margin: 5% 30% 3%;
padding:3%;
}

.container-fluid form button {
text-align:center;
}

#resposta {
border-radius:7px;
margin-left:30%;
margin-right:30%;
margin-bottom:3%;
border-color:#334;
}

footer {
background-color:#4f5b93;
bottom:0;
}

.text-center {
text-align: center!important;
color: white;
}
.text-center a {
color: #ddd;
text-decoration: none;
}